APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=notes_website
DB_USER=postgres
DB_PASSWORD=postgres

SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_NAME="Super Admin"
SUPERADMIN_PASSWORD=change_me

# Для Docker локально:
# DB_HOST=db
