APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
JWT_SECRET=change_this_secret
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=notes_website
DB_USER=postgres
DB_PASSWORD=postgres
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_NAME="Super Admin"
SUPERADMIN_PASSWORD=change_me

# Для Docker локально:
# DB_HOST=db
# REDIS_HOST=redis
